<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  name="Codigo secreto" content="1898113034">
    <link rel="stylesheet" href="style/style.css">
    <title>Web</title>
</head>
<body>
	<ul>
        <li><a href="index.html">Início</a></li><hr>
		<li><a  href="noticias.html">Canaias de notícias</a></li><hr>
        <li><a href="adicionarPessoas.html">Adicionar pesssoas</a></li>
        <li><a class="active" href="listarPessoas.html">listar pessoas</a></li><hr>
        <li><a href="sobre.html">Sobre o site</a></li>
        <li><a href="contato.html">Mande um e-Mail</a></li>
    </ul>
    
    <div class="postagem">
        <table>
            <tr>
              <th>Nome completo</th>
              <th>Data de Nacimento</th>
              <th>e-Mail</th>
              <th>sexo</th>
              <th>Editar</th>
              <th>Remover</th>
            </tr>
            <tr>
              <td>Mrineis</td>
              <td>03/04/1995</td>
              <td> <a href="mailto:marineis@gmail.com">marineis@gmail.com</a></td>
              <td>Feminino</td>
              <td><a href="editarPessoa.html">Editar</a></td>
              <td><a href="">Remover</a></td>
            </tr>
            <tr>
                <td>Carlos</td>
                <td>08/10/1996</td>
                <td> <a href="mailto:carlos@gmail.com">carlos@gmail.com</a></td>
                <td>Masculino</td>
                <td><a href="editarPessoa.html">Editar</a></td>
                <td><a href="">Remover</a></td>
              </tr>
              <tr>
                <td>Eduarda</td>
                <td>04/06/1978</td>
                <td> <a href="mailto:eduarda@gmail.com">eduarda@gmail.com</a></td>
                <td>Não informado</td>
                <td><a href="editarPessoa.html">Editar</a></td>
                <td><a href="">Remover</a></td>
              </tr>
           
          </table>
    </div>
	
</body>
</html>