<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  name="Codigo secreto" content="1778987077">
    <link rel="stylesheet" href="style/style.css">
    <title>Web</title>
</head>
<body>
	<ul>
        <li><a href="/">Início</a></li><hr>
		
        <li><a href="/adicionarCliente">Adicionar pesssoas</a></li>
        <li><a href="/listarClientes">listar clientes</a><hr>
        <li><a href="/adicionarProduto">Adicionar produtos</a></li>
         <li><a href="/listarProdutos">Listar produtos</a></li>
    </ul>
    
    <div class="postagem">
        <table border="1">
            <tr>
              <th>id</th>
              <th>Nome completo</th>
              <th>E-Mail</th>
              <th>Data de Nacimento</th>
              <th>Gênero</th>
              <th>Endereço</th>
              <th>CEP</th>
              <th>Salário Bruto</th>
              <th>Editar</th>
              <th>Remover</th>
            </tr>
            <tr th:each = "cliente: ${clientes}">
              <td th:text = "${cliente.id}" ></td>
              <td th:text = "${cliente.nome}"></td>
              <td> <a th:href="'mailto:'+${cliente.email}" th:text = ${cliente.email} ></a></td>
              <td th:text = "${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></td>
              <td th:text = "${cliente.genero}"></td>
              <td th:text = "${cliente.endereco}"></td>
              <td th:text = "${cliente.cep}"></td>
              <td th:text = "${cliente.salariBruto}"></td>
              
              <td><a th:href="@{/editar/{id}(id=${cliente.id})}">Editar</a></td>
              <td><a th:href="@{/remover/{id}(id=${cliente.id})}">Remover</a></td>
            </tr>
          
             
           
          </table>
    </div>
	
</body>
</html>