<!DOCTYPE html>
<html lang="pt_br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Codigo secreto" content="1778987077">
	<link rel="stylesheet" href="style/style.css">
	<title>Web</title>
</head>

<body>
	<ul>
       <li><a href="/">Início</a></li><hr>
		
        <li><a href="/adicionarCliente">Adicionar pesssoas</a></li>
        <li><a href="/listarClientes">listar clientes</a>
        <li><a href="/adicionarDependente">Adicionar dependentes</a></li>
        <li><a href="/listarDependentes">listar dependentes</a>
        <hr>
        <li><a href="/adicionarProduto">Adicionar produtos</a></li>
         <li><a href="/listarProdutos">Listar produtos</a></li>
         <hr/>
         <li><a href="/adicionarPedido">Adicionar pedido</a></li>
         <li><a href="/listarPedidos">Listar pedidos</a></li>
         <hr/>
         <li><a href="/public/contato.html">Contato</a></li>
    </ul>

	<div class="postagem">
	<h1>Filtrar produtos pelo nome</h1>
         <form method="POST" th:action="@{/listarProdutos}">
                Nome*: <input type="text" name="produto" placeholder="nome" />
                <br />
                <input type="submit" class="botao" value="Filtrar!"/>
                
         </form>
         <br/>
		<table border="1">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Marca</th>
					<th scope="col">Altura</th>
					<th scope="col">Largura</th>
					<th scope="col">Profundidade</th>
					<th scope="col">Volume</th>
					<th scope="col">Peso</th>
					<th scope="col">Preço</th>
					<th scope="col">Editar</th>
					<th scope="col">Remover</th>
				</tr>
			</thead>
			<tr th:each="produto: ${produtos}">
				<td th:text="${produto.nome}"></td>
				<td th:text="${produto.marca}"></td>
				<td th:text="${produto.altura}"></td>
				<td th:text="${produto.largura}"></td>
				<td th:text="${produto.profundidade}"></td>
				<td th:text="${produto.volumeDoProduto}"></td>
				<td th:text="${produto.peso}"></td>
				<td th:text="${produto.preco}"></td>
				<td>
					<a th:href="@{/editarProduto/{id}(id=${produto.id})}">Editar</a>
				</td>
				<td><a th:href="@{/removerProduto/{id}(id=${produto.id})}">Remover</a></td>
			</tr>
		</table>
		<hr/>
		<h1>Fretes para Marte</h1>
		<table border="1">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nome</th>
					<th scope="col">Volume</th>
					<th scope="col">Peso</th>
					<th scope="col">Preço</th>
					<th scope="col">Frete</th>
				</tr>
			</thead>
			<tr th:each="produto: ${fretes}">
				<td th:text="${produto.id}"></td>
				<td th:text="${produto.nome}"></td>
				<td th:text="${produto.volumeDoProduto}"></td>
				<td th:text="${produto.peso}"></td>
				<td th:text="${produto.preco}"></td>
				<td th:text="${produto.freteParaMarte}"></td>
			</tr>
		</table>
	</div>

</body>

</html>