<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  name="Codigo secreto" content="1778987077">
    <link rel="stylesheet" href="style/style.css">
    <title>Web</title>
</head>
<body>
	<ul>
        <li><a href="/">Início</a></li><hr>
		
        <li><a href="/adicionarCliente">Adicionar pesssoas</a></li>
        <li><a href="/listarClientes">listar clientes</a>
        <li><a href="/adicionarDependente">Adicionar dependentes</a></li>
        <li><a href="/listarDependentes">listar dependentes</a>
        <hr>
        <li><a href="/adicionarProduto">Adicionar produtos</a></li>
         <li><a href="/listarProdutos">Listar produtos</a></li>
         <hr/>
         <li><a href="/adicionarPedido">Adicionar pedido</a></li>
         <li><a href="/listarPedidos">Listar pedidos</a></li>
    </ul>
    
    <div class="postagem">
        <table border="1">
			<tr>
				<th>Cliente</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Valor Unitário</th>
				<th>Total</th>
				<th>Total + impostos</th>
				<th>Forma do pagamento</th>
				<th>Cartão</th>
				<th>Data de cadastro</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
			<tr th:each="p: ${pedidos}">
				<td th:text="${p.cliente.nome}"></td>
				<td th:text="${p.produto.nome}"></td>
				<td th:text="${p.quantidade}"></td>
				<td th:text="${p.valorUnidade}"></td>
				<td th:text="${p.total}"></td>
				<td th:text="${p.totalComImpostos}"></td>
				<td th:text="${p.formaDePagamento}"></td>
				<td th:text="${p.cartao}"></td>
				<td th:text="${#temporals.format(p.dataDeCadastro, 'dd/MM/yyy')}"></td>
				<td>
					<a th:href="@{/editarPedido/{id}(id=${p.id})}">Editar</a>
				</td>
                <td><a th:href="@{/removerPedido/{id}(id=${p.id})}">Remover</a></td>
			</tr>
          </table>
    </div>
	
</body>
</html>